<!DOCTYPE html>
<html lang="en" th:include="template :: modelo">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livro</title>
</head>

<body>
    <div th:fragment="conteudo">
        <div class="container-fluid text-center">
            <div class="col-12 d-flex justify-content-center p-5">
                <div class="row d-flex justify-content-center p-5 shadow rounded border"
                    >
                    <h1>Cadastre seu livro</h1>
                    <form action="novoLivro" method="post" th:object="${livro}">
                        <div class="form-col p-2">
                            <div class="form-group">
                                <label for="nomeLivro">Nome do Livro</label>
                                <input type="text" th:field="*{nome}"class="form-control" id="nomeLivro" placeholder="O pequeno príncipe">
                                <label for="nomeAutor">Autor</label>
                                <input type="text" class="form-control" id="autor"th:field="*{autor}"
                                    placeholder="Antoine de Saint-Exupéry">
                                <label for="descricao">Descrição</label>
                                <input type="text" class="form-control" id="descricao"th:field="*{descricao}"
                                    placeholder="Antoine de Saint-Exupéry">
                                <label for="nrPaginas">Número de páginas</label>
                                <input type="number" class="form-control" id="nrPaginas" th:field="*{qtd_pags}" placeholder="135">
                            </div>
                            <div class="form-group p-3 mt-3 border shadow rounded">
                                <div class="container mb-2">
                                    <label for="selectGenero">Qual o gênero do livro?</label>
                                    <input type="text" th:field="*{genero}">
                                </div>
                                <div class="container mb-2">
                                    <label for="selectEstado">O livro encontra-se em qual estado de conservação?</label>
                                    <input type="text" th:field="*{estado}">

                                </div>
                                <div class="container">
                                    <label for="inserirFoto">Insira fotos do livro</label>
                                    <br>
                                    <input type="file" class="form-control-file" id="inserirFoto">
                                    <div class="text-center px-5 mt-4">
                                        <button type="reset" class="btn btn-primary"
                                            style="margin-right:5px ; background-color: rgb(255, 255, 96); color: black; border: 2px solid rgb(255, 255, 96);">Limpar</button>
                                        <button type="submit" class="btn btn-primary"
                                            style="margin-left: 5px; background-color: rgb(255, 255, 96); color: black; border: 2px solid rgb(255, 255, 96);">Cadastrar</button>
                                    
                                    </div>

                                </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

</html>